<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Books</title>
</head>
<body>
<!-- Attributi: bookList(List<Book>) -->
<h1>Book List</h1>
<div th:if="${bookList.size() == 0}">The list is empty</div>
<ul th:unless="${bookList.size() == 0}">
  <li th:each="book : ${bookList}" th:text="${book.title}"></li>
</ul>
</body>
</html>