<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Book List')"></head>
<body>
<!-- fragment navbar -->
<nav th:replace="fragments/navbar :: topNavbar('books')"></nav>
<!-- Attributi: bookList(List<Book>) -->
<div class="container">
  <!-- messaggio di success che viene mostrato solo dopo redirect -->
  <div th:if="${redirectMessage != null}"
       class="alert alert-success alert-dismissible fade show mt-4"
       role="alert">
    <div th:text="${redirectMessage}"></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
  <h1>Book List</h1>
  <hr>
  <!--
  box di ricerca: precarico il value dell'input leggendo dai parametri della request quello che si chiama
  come il name dell'input th:value="${param.keyword}"
   oppure con un attributo custom del Model th:value="${preloadSearch}"
  -->
  <div class="row mb-4">
    <form
        id="book-search"
        th:action="@{/books}"
        method="get"
        class="col-4"
    >
      <div class="input-group">
        <input class="form-control" type="text" name="keyword" id="keyword"
               placeholder="Search books by title or authors" th:value="${preloadSearch}">
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>
  <!-- lista -->
  <div class="alert alert-info" th:if="${bookList.size() == 0}">The list is empty</div>
  <table class="table" th:unless="${bookList.size() == 0}">
    <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Publisher</th>
      <th>ISBN</th>
      <th>N.copies</th>
      <th>N.available</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${bookList}"
        th:classappend="${book.availableCopies == 0 ? 'table-warning' : ''}">
      <td th:text="${book.title}"></td>
      <td th:text="${book.authors}"></td>
      <td th:text="${book.publisher}"></td>
      <td th:text="${book.isbn}"></td>
      <td th:text="${book.numberOfCopies}"></td>
      <td th:text="${book.availableCopies}"></td>
      <td class="d-flex justify-content-between">
        <a class="btn btn-primary" th:href="@{/books/show/{id}(id=${book.id})}"><i
            class="fa-solid fa-book"></i></a>
        <a class="btn btn-primary" th:href="@{/books/edit/{id}(id=${book.id})}"><i
            class="fa-solid fa-pen-to-square"></i></a>
        <form
            th:if="${book.availableCopies == book.numberOfCopies}"
            th:action="@{/books/delete/{id}(id=${book.id})}"
            method="post"
            onsubmit="return confirm('Are you sure?')"
        >
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>
          </button>
        </form>
        <button th:unless="${book.availableCopies == book.numberOfCopies}" class="btn btn-primary"
                disabled>
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="mt-3">
    <a class="btn btn-primary" th:href="@{/books/create}">Add Book</a>
  </div>
</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>