<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Book Details')"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('books')"></nav>
<!-- Attributi: book(Book) -->
<div class="container">
  <h1 th:text="${book.title}"></h1>
  <h2 th:text="${book.authors}"></h2>
  <hr>
  <p>Publisher: <span th:text="${book.publisher}"></span></p>
  <p>Year: <span th:text="${book.year}"></span></p>
  <p>ISBN: <span th:text="${book.isbn}"></span></p>
  <p>Number of copies: <span th:text="${book.numberOfCopies}"></span></p>
  <h4>Synopsis</h4>
  <p th:text="${book.synopsis}"></p>
  <div class="mt-3">
    <a th:href="@{/books}" class="btn btn-primary">
      <i class="fa-solid fa-arrow-left"></i>Back to list
    </a>
  </div>
</div>
<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>